* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 1400px;
  height: 600;
}

.section-container {
  margin: 0 30px;
}

.banner-1 {
  min-height: 600px;
  font-family: " Merriweather";
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 10px;

}

.section-1 {
  margin-bottom: 70px;
}

.banner-img-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -5;
}

.happy {
  color: #FFF;
  font-family: "Merriweather";
  font-size: 32px;
  font-weight: 400;
}

.new-year {
  color: #FFF;
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  /* 131.944% */

}

.new-year span {
  display: block;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0px;
}

.new-year-pic {
  margin-top: 50px;
}

.off {
  color: #F00;
  font-family: "Inter";
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 30px;
}

.holyday {
  color: #F00;
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter";
}

.categories {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter";
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.section-3-container {
  position: relative;
  height: 610px;

}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  border-radius: 10px;
  margin: 120px 0px;
}

.section-3-img {
  position: absolute;
  border-radius: 10px;
  z-index: -5;
  width: 100%;
  height: 610px;
  ;
  margin: 0px;
}

.section-3-welcome {
  color: #FFF;
  font-family: 'Merriweather';
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  /* 137.5% */
  letter-spacing: 7.04px;
  margin-top: 85px;
}

.section-3-dolor {
  color: rgba(255, 255, 255, 0.80);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  margin-top: 24px;
  margin-bottom: 48px;
}

.section-3-container {
  display: flex;
  margin-left: 10px;
  width: 1400px;

}

.section-3-welcome span {
  display: block;
}

.section-3-button {
  color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 0px;
}

.text {
  padding: 50px 200px 166px 126px;
}

.frame {
  margin: 100px 150px 68px 0px;
}

.section-4 {

  background: linear-gradient(180deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 0, 0, 0) 100%);
  height: 482px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0px;
}

.section-4 span {
  color: #F00;
  text-align: center;
  font-family: " Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  /* 175% */
  text-transform: capitalize;
}

.section-4-h2 {
  color: #070211;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;

}

.section-4-button {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 8px;
  background: #F00;
  border: transparent;
  color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 50px;
}

.section-4 button:hover {
  scale: 0.98;
}

.Place {
  margin-left: 100px;
}

.Date {
  margin-left: 45px;

}

.section-5 {
  margin-top: 100px;
}

.section-5-container {
  display: flex;
  margin: 230px 0px 120px 0px;
}

.NEW-BEST-OFFER {
  color: #F00;
  font-family: " Inter";
  font-size: 24px;
  font-weight: 500;
}

.Coming-Soon {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.section-5-p {
  color: rgba(7, 2, 17, 0.60);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */

}
 .img-op {
  width: 364.844px; 
  height: 364.844px;
  border-radius: 364.844px; 
 
}
  .section-5-img {
    flex-shrink: 0;
  text-align: center;
  width: 420px;
  height: 400px;
  border: 13px solid #F00;
  border-radius: 430px;
  margin-right: 100px;
}

.year {
  color: #F00;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.amet {
  color: rgba(7, 2, 17, 0.60);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  width: 300px;
  margin-bottom: 70px;
}

.section-6-container {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.section-6 h3 {
  color: #070211;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}

.section-6 h2 span {
  color: #F00;
  text-align: center;
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
}

.section-6 h2 {
  color: #070211;
  font-family: "Merriweather";
  font-weight: 900;
  font-size: 72px;
  font-weight: 900;
}

.section-6 p {
  color: rgba(7, 2, 17, 0.60);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
}

.section-6-sec2 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
}

.section-6-position {
  width: 70%;

}

.section-6-sec2-container {
  display: flex;
}

.woman-bag {
  width: 100%;
  height: 100%;
}

.boom-box {
  position: absolute;
  width: 55%;
  height: auto;
  object-fit: cover;
  top: 8%;
  left: 5%;

}

.section-7 {
  margin-top: 50px;
}

.section-6-pic {
  position: relative;
}

.discount {
  position: absolute;
  top: 25%;
  left: -24%;
  height: 50%;
  width: 50%;
}

.section-7-pics {
  display: flex;
  margin-top: 33px;
}

.section-7-pics img {
  height: 100%;
  width: 100%;
}

.section-7-pics .img-section {
  width: 33%;
  padding: 5px;
}

.section-7-pics .img-section:hover {
  scale: 0.98;
}

.section-7 h2 {
  color: #F00;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}

.section-7 h3 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;

}

.section-7 p {
  color: rgba(7, 2, 17, 0.60);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}

.section-8-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 616px;
  margin-top: 120px;
}

.section-8-container img {
  width: 150px;
  height: 150px;
  margin-left: 600px;
  margin-bottom: 50px;
}

.section-8-container h3 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}


.section-8-container p {
  color: rgba(7, 2, 17, 0.60);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}

.section-8-form {
  display: inline-block;
  position: relative;
  margin: 70px;
}

input[type="text"] {
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px 0px 0px 50px;
  background: #FFF;
  padding: 15px;
  border: none;
  font-size: 150%;
}

button[type="submit"] {
  width: 210px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  position: absolute;
  cursor: pointer;

  padding: 15px;
  border: none;
  color: white;
}

.form-text {
  color: rgba(7, 2, 17, 0.30);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}

.sec-8-button {
  color: #FFF;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.section-8-form {
  margin-right: 260px;

}

footer {
  height: 609px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #070211;
  margin-top: 100px;
}


.footer-icon li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container p {
  color: #FFF;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  /* 166.667% */
}

.footer-icon p {
  padding: 5px;

}


 .footer-icon ul {
  list-style: none;
  
 } 
 .a-img ul{
  list-style: none;
} 
.footer-container {
  color: white;
  display: flex;
  justify-content: space-around;
}

.a-img ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-img ul li {
  margin-left: 10px;

}

.icons {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.rights {
  display: flex;
  justify-content: space-around;
  color: #FFF;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  margin-right: 10px;
}

.h-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5px;
  margin: 30px 0;
}

.h-line div {
  border: 1px solid rgba(255, 255, 255, 0.15);
  height: 1px;
  width: 66%;
}