*{
  margin: 0px;  
  padding: 0px;
  box-sizing: border-box;
 
}

.section-container {
  margin: 0 30px;
}

.banner-1 {
min-height: 600px;
  font-family:" Merriweather";
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.section-1 {
  margin-bottom: 70px;
}
.banner-img-1{
  position: absolute;
  width: 100%;
  height: 100%; 
  border-radius: 10px;
  z-index: -5;
}
.happy{
  color: #FFF;
  font-family: "Merriweather";
  font-size: 32px;
  font-weight: 400;
}
.new-year{
  color: #FFF;
font-family: "Merriweather";
font-size: 72px;
font-weight: 900;
line-height: 95px; /* 131.944% */

}
.new-year span{
  display: block;
}
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.off{
  color: #F00;
font-size: 88px;
font-weight: 700;
}
.holyday{
  color: #F00;
font-size: 24px;
font-weight: 500;
}
.categories{
  color: #070211;
font-size: 48px;
font-weight: 700;
}
.section-3{
  display: flex;
  justify-content:center;
  align-items: center;
}
.section-3-container{
  position: relative;
  height: 600px;

}
.text{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.frame{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  margin: 0;
  padding: 0;
}
.section-3-container{
  /* display: flex; */
 justify-content: center;
 align-items: center;
}